.photo-grid__heart-button {
    background-image: url(../../../images/heart\ symbol.svg);
    border: none;
    width: 30px;
    margin-left: 10px;
}

.photo-grid__heart-button:hover {
    opacity: 50%;
}