.popup__avatar-container {
    min-width: 282px;
    min-height: 272px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 36px;
    box-sizing: border-box;
    position: relative;
}

@media screen and (min-width: 768px) {
    .popup__avatar-container {
        min-width: 430px;
        padding: 36px;
    }
}